@use "../abstracts/variables" as variables;

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("/src/assets/fonts/plusJakartaSans/static/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

picture {
  display: inline-block;
  width: inherit;
  height: inherit;
}

img {
  width: inherit;
  height: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: variables.$font-jakarta;
}
