$primary-color: #ffffff;
$secondary-color: #13183f;
$font-jakarta: "Plus Jakarta Sans";
$paragraph-color: #83869a;
$first-linear-gradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$second-linear-gradient: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
$box-shadow: 0rem 1.5625rem 3.125rem 0rem rgba(6, 22, 141, 0.04);
